### IMPORTING REQUIRED LIBRARIES

In [16]:
import pandas as pd
import numpy as np

In [2]:
DepressionData = pd.read_csv("depression_data.csv")

In [3]:
DepressionData

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,Married,Bachelor's Degree,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,Married,High School,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,Widowed,Master's Degree,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,Divorced,Master's Degree,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,Single,High School,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413763,Sean Miller,68,Married,Master's Degree,0,Former,Moderate,Employed,109233.43,Low,Healthy,Good,No,No,No,No
413764,Christina Brown,26,Single,Bachelor's Degree,0,Current,Active,Employed,96760.97,Low,Healthy,Poor,Yes,Yes,No,Yes
413765,Matthew Jenkins,57,Married,Bachelor's Degree,0,Non-smoker,Sedentary,Employed,77353.26,Moderate,Moderate,Fair,No,No,Yes,Yes
413766,Gary Faulkner,71,Married,Associate Degree,2,Non-smoker,Sedentary,Unemployed,24557.08,Moderate,Moderate,Poor,No,Yes,No,No
413767,Joseph Johnson,62,Widowed,Master's Degree,0,Former,Moderate,Employed,107125.74,Moderate,Healthy,Good,No,Yes,No,No

In [4]:
DepressionData.isnull().sum()

Name                            0
Age                             0
Marital Status                  0
Education Level                 0
Number of Children              0
Smoking Status                  0
Physical Activity Level         0
Employment Status               0
Income                          0
Alcohol Consumption             0
Dietary Habits                  0
Sleep Patterns                  0
History of Mental Illness       0
History of Substance Abuse      0
Family History of Depression    0
Chronic Medical Conditions      0
dtype: int64

In [5]:
DepressData = DepressionData.drop_duplicates()

#### 1. What is the average age of individuals with a history of mental illness?

In [18]:
#### Finding the average age of those affected by mental illness
avg_age_mental_illness = DepressData[DepressData['History of Mental Illness'] == 'Yes']['Age'].mean()
print("Average Age of Mental Illness is",avg_age_mental_illness)

Average Age of Mental Illness is 49.67873634015498

#### 2. What percentage of people in each marital status category have a history of mental illness?

In [20]:
#### Analyzing the prevalence of mental illness by marital status.
mental_illness_by_marital_status = DepressData.groupby('Marital Status')['History of Mental Illness'].apply(lambda x: (x == 'Yes').mean() * 100)
print("Mental Illness of people by",mental_illness_by_marital_status)

Mental Illness by Marital Status
Divorced    29.386782
Married     30.480694
Single      29.704618
Widowed     31.390816
Name: History of Mental Illness, dtype: float64

#### 3. How does income level correlate with having a history of mental illness?

In [21]:
#### Exploring the relationship between income levels and mental illness.
income_groups = pd.cut(DepressData['Income'], bins=5)
mental_illness_by_income = DepressData.groupby(income_groups)['History of Mental Illness'].apply(lambda x: (x == 'Yes').mean() * 100)
print("Mental Illness of people by",mental_illness_by_income)

C:\Users\s1drj\AppData\Local\Temp\ipykernel_14556\2840842604.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mental_illness_by_income = DepressData.groupby(income_groups)['History of Mental Illness'].apply(lambda x: (x == 'Yes').mean() * 100)

Mental Illness by Income
(-209.585, 41999.372]       35.935107
(41999.372, 83998.334]      25.637066
(83998.334, 125997.296]     21.325398
(125997.296, 167996.258]    21.126381
(167996.258, 209995.22]     21.734104
Name: History of Mental Illness, dtype: float64

#### 4. What is the average number of children for individuals with a history of mental illness?

In [23]:
#### Investigating family size among those with mental illness.
avg_children_mental_illness = DepressData[DepressData['History of Mental Illness'] == 'Yes']['Number of Children'].mean()
print("Average children of people who are suffering from Mental Illness is",avg_children_mental_illness)

Average children of people who are suffering from Mental Illness is 1.3040492747864096

#### 5. How do different physical activity levels correlate with the prevalence of mental illness?

In [24]:
#### Understanding if physical activity is associated with mental health.
mental_illness_by_activity = DepressData.groupby('Physical Activity Level')['History of Mental Illness'].apply(lambda x: (x == 'Yes').mean() * 100)
print(" Average Mental Illness of people with respective", mental_illness_by_activity)

 Average Mental Illness of people with respective Physical Activity Level
Active       29.758570
Moderate     30.286116
Sedentary    30.810291
Name: History of Mental Illness, dtype: float64

#### 6. What is the proportion of individuals with chronic medical conditions who also have a history of mental illness?

In [25]:
#### Exploring the overlap between chronic medical conditions and mental illness.
chronic_conditions_mental_illness = DepressData.groupby('Chronic Medical Conditions')['History of Mental Illness'].apply(lambda x: (x == 'Yes').mean() * 100)
print("Mental Illness of people by",chronic_conditions_mental_illness)

Mental Illness of people by Chronic Medical Conditions
No     30.214980
Yes    30.806053
Name: History of Mental Illness, dtype: float64

#### 7. Which education level has the highest percentage of individuals with a history of mental illness?

In [26]:
#### Identifying educational groups most affected by mental illness
mental_illness_by_education = DepressData.groupby('Education Level')['History of Mental Illness'].apply(lambda x: (x == 'Yes').mean() * 100)
print("Mental Illness of people by",mental_illness_by_education)

Mental Illness of people by Education Level
Associate Degree     33.344167
Bachelor's Degree    27.736087
High School          33.082479
Master's Degree      28.002657
PhD                  27.859062
Name: History of Mental Illness, dtype: float64

#### 8. What is the average income for individuals with and without a history of mental illness?

In [28]:
#### Comparing the income of those with and without mental illness.
avg_income_mental_illness = DepressData.groupby('History of Mental Illness')['Income'].mean()
print("Average Income of people with/without",avg_income_mental_illness)

Average Income of people with/without History of Mental Illness
No     54335.500583
Yes    42254.452926
Name: Income, dtype: float64

#### 9. What percentage of individuals with a family history of depression also have a history of mental illness?

In [31]:
#### Investigating the correlation between family history and personal history of mental illness.
mental_illness_family_history = DepressData.groupby('Family History of Depression')['History of Mental Illness'].apply(lambda x: (x == 'Yes').mean() * 100)
print("Percentage of people with/without Mental Illness and thier",mental_illness_family_history)

Percentage of people with/without Mental Illness and thier Family History of Depression
No     30.273210
Yes    30.780294
Name: History of Mental Illness, dtype: float64

#### 10. How does smoking status relate to the prevalence of mental illness?

In [32]:
#### Examining the link between smoking and mental health
mental_illness_by_smoking = DepressData.groupby('Smoking Status')['History of Mental Illness'].apply(lambda x: (x == 'Yes').mean() * 100)
print("Average Mentall Ilness of people with thier",mental_illness_by_smoking)

Average Mentall Ilness of people with thier Smoking Status
Current       29.887578
Former        30.256318
Non-smoker    30.587351
Name: History of Mental Illness, dtype: float64